{% extends 'base.html' %}

{% block title %}
    Questions
{% endblock %}

{% block body %}
<table class="table table-hover ms-3 me-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тематика</th>
      <th scope="col">Вопрос</th>
    </tr>
  </thead>
  <tbody>
    {% for num, topic, ques in questions %}
    <tr>
        <th scope="row">{{ num }}</th>
        <td>{{ topic }}</td>
        <td>
            <details>
                <summary>{{ ques }}</summary>
                    <ul>
                    {% for a_num, a1, a2, a3, a4 in answers %}
                        {% if a_num == num %}
                            <li>{{ a1 }}</li>
                            <li>{{ a2 }}</li>
                            <li>{{ a3 }}</li>
                            <li>{{ a4 }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
            </details>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}